body{
	margin: 0;
	font-family: 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;

}

h1, h2{
	font-family: 'Anek Tamil', sans-serif;
}
header{
	background-color: seagreen;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

header h1{
	color: whitesmoke;
	font-size: 50px;
	
}

header img{
	border-radius: 160px;
    width: 300px;
    border: 10px solid whitesmoke;
}


main{
	max-width: 800px;
	margin: 0 auto;
	padding: 10px 10px;

}

main img{
	max-width: 100%;

}

h2{
	font-size: 32px;
	color: hotpink;
	margin: 32px 0 10px;
}

a{
	color: deeppink;
}

a:hover{
	color: white;
	background-color: hotpink;
}

footer{
	background-color: seagreen;
	text-align: center;
	color: whitesmoke;
	padding: 50px;
}

footer p{
	margin: 0;
}

p.caption{
	color: navy;
	font-style: italic;
	margin-top: 0;
}
